* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
}

.img-zoom-result {
  /*set the size of the result div:*/
  width: 400px;
  height: 400px;
}

button{
  border:none;
  background-color: white;
}
.n_button{
  margin-left: 10px;
  background-color: #3992EB;
  border-radius: 7px;
  color: white;
  padding: 15px 40px;
  margin-top: 3px;
  transition-duration:500ms;
  float:left;
}
.n_button:hover{
  box-shadow: 0px 3px 10px rgba(43, 43, 43, 0.4);
}